* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
#left {
    float: left;
    background-color: tomato;
    width: 49.5%;
    height: 80%;
}


#right {
    float: right;
    width: 49.5%;
    height: 80%;
}
h1 {
    color: yellow;
    text-align: center;
}


