main img{
    height: 20vh;
    border-radius: 15px;
    margin: 40px;
    margin-left: 10vh;
}
main img:hover{
    transform: scale(1.1);
}
.trabcurso{
    display: inline-block;
}
.trabcurso{
    display: inline-block;
}
.trabcurso img{
    width: 55vh;
    height: 30vh;
    border: 3px solid rgb(222, 184, 135);
}
main{
    text-align: center;
}
.titulo{
   position: relative;
   bottom: 3vh;
   left: 2vh;
}